@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* 
    root é usado para definir variáveis
    usando "--" antes do nome para indicar
    que é uma variável e não uma propriedade
    e a função var(<nome da variavel>) 
    parar usar as variáveis
*/
:root {
    --cor-primaria: #222222;
    --cor-secundaria: #F3EFE0;
    --cor-terciaria: #22D4FD;
    --cor-hover: #434242;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box; 
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 8%;
}

.cabecalho__menu {
    display:flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover {
    font-size: 2rem;
}

.apresentacao {
    padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__texto__destaque {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    width: 50%;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Hover -> quando o mouse está em cima da âncora -a- */
.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    padding: 5% 3%;
}

.apresentacao__imagem{
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color:var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

/* media é usado para definir uma condição para mudar o estilo para 
    a página, por exemplo: se é um celular tem um estilo, se é pc tem outo */
@media (max-width: 1023px) {
    
    .cabecalho {
        padding: 10%;   
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links__navegacao {
        width: 70%;
    }
}